@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
    --fontFamily : "Fira Code", monospace;
    --primary: #C778DD;
    --white: #ffffff;
    --gray: #ABB2BF;
}

* , body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #282C33;
    font-family: var(--fontFamily);
}

::-webkit-scrollbar {
    width: 0px;
}

.navbar {
    margin: auto;
    width: 1024px;
    height: 61px;
    padding: 10px;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.navlinks {
    width: 443px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
}

.navlinks div {
    width: fit-content;
}

.sCta {
    position: absolute;
    top: 0;
    left: 30px;
    width: 32px;
    height: 311px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.sCta div {
    width: inherit;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.herosection {
    width: 1024px;
    height: 423px;
    margin: auto;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.heroTxt {
    width: 537px;
    height: 200px;
    color: var(--white);
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}

.heroTxt h1 {
    font-weight: 600;
    font-size: 25px;
}

.heroTxt p {
    font-size: 14px;
    color: var(--gray);
    width: 420px;
}

.heroTxt button {
    width: 148px;
    height: 37px;
    background: none;
    border: 1px solid var(--primary);
    color: var(--white);
    font-family: var(--fontFamily);
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background-color: var(--primary);
    border: none;
}

.heroimg {
    width: 468px;
    height: 386px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hlogo {
    position: absolute;
    top: 5.5rem;
    left: 0;
    z-index: -10;
}

.hdots {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
}

.burger {
    display: none;
}

@media(max-width:1024px) {
    .navbar {
        width: 80vw;
    }
    .herosection {
        width: 80vw;
    }
}

@media(max-width:768px) {
    .herosection {
        height: fit-content;
        flex-direction: column;
    }
    .burger {
        display: block;
    }
    .navlinks {
        display: none;
    }
}

@media(max-width: 700px) {
    .sCta {
        display: none;
    }
    .navbar {
        width: 90vw;
    }
    .herosection {
        width: 100vw;
        position: relative;
    }
    .heroTxt {
        width: 80vw;
        height: fit-content;
        gap: 2rem;
    }
    .heroTxt p {
        width: 60vw;
    }
    .heroTxt button {
        position: absolute;
        bottom: 0;
        /* z-index: 20; */
    }
    .heroimg {
        width: 90vw;
        height: fit-content;
        margin-bottom: 3rem;
        justify-content: start;
    }
    .heroimg img {
        width: 80%;
    }
}