@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

:root {
    --fontFamily : "Lilita One", sans-serif;
    --width: 100vw;
    --border : 1px solid black;
}

* , body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: rgb(219, 219, 219);
}

::-webkit-scrollbar {
    width: 0px;
}

.navbar {
    width: var(--width);
    height: 70px;
    /* border-bottom: 1px solid rgba(146, 143, 143, 0.479); */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* padding-right: 3rem; */
}

.navlinks {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.navlinks div {
    cursor: pointer;
    font-size: 18px;
    font-family: var(--fontFamily);
    letter-spacing: 1px;
    padding: .5rem;
}

.herosection {
    width: var(--width);
    /* border: var(--border); */
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profile{
    padding-top: 3rem;
    width: 50vw;
    /* border: var(--border); */
    height: 110vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column-reverse;
    gap: .5rem;
    background-color: rgb(219, 219, 219);
}

.descriptionTxt  {
    width: 50vw;
    /* border: var(--border); */
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}

.descriptionTxt h1 {
    font-family: var(--fontFamily);
    font-size: calc(2.5vw + 2.5vh);
    text-align: center;
    z-index: -1;
    background: -webkit-linear-gradient(#000000, #070f576e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 5px 1px rgba(0, 0, 0, 0.205);
}

.descriptionTxt .cta {
    padding: 2.5%;
    width: 130px;
    font-family: var(--fontFamily);
    font-size: 20px;
    border: none;
    background-color: #202020;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.image {
    width: 40vw;
    height: 80vh;
    border-radius: 50px;
    background-color: whitesmoke;
    box-shadow: 0px 5px 10px 7px rgba(0, 0, 0, 0.089);
    cursor: pointer;
    /* background-image: url(https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=600); */
    background-size: cover;
    cursor: grab;
}

.name {
    width: 40vw;
    height: 10vh;
    font-family: var(--fontFamily);
    font-size: calc(1.5vw + 1.5vh);
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(#000000, #070f576e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.205);
    /* box-shadow: 0px 2px 10px 7px rgba(0, 0, 0, 0.089); */
}

@media(max-width:1024px) {
    * , body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .navbar {
        align-items: center;
        justify-content: center;
    }
    .navlinks {
        width: var(--width);
    }

    .herosection {
        display: grid;
        height: fit-content;
        gap: 5rem;
    }
    .profile {
        /* flex-direction: column; */
        width: 100vw;
        height: fit-content;
        gap: 1rem;
        /* margin-bottom: -1rem; */
    }
    .image , .name {
        width: 500px;
    }
    .image {
        height: 30vh;
        border-radius: 10px;
    }
    .name {
        height: fit-content;
        padding: 20px;
    }
    .descriptionTxt {
        width: 100vw;
        height: fit-content;
    }
}

@media(max-width: 600px) {
    .image ,
    .name
    {
        width: 80vw;
    }
    .name {
        border-radius: 10px;
    }
}